* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}
html {
  font-size: 10px;
}
body {
  display: flex;
  flex-direction: column;
}
header {
  height: 10rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  background: rgb(0, 7, 83);
  align-items: flex-start;
  justify-content: flex-start;
  img {
    height: 10rem;
    padding: 2rem 4rem;
  }
  @media (max-width: 410px) {
    #logo_big {
      display: none;
    }
    #logo_small {
      display: flex;
    }
  }
}
main {
  min-height: 78.8dvh;
  background-color: rgb(0, 0, 43);
  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: sans-serif;
    text-align: center;
    font-size: 4.8rem;
    margin: 3rem;
    @media (max-width: 780px) {
      font-size: 4rem;
    }
    @media (max-width: 685px) {
      margin: 4rem 1rem;
    }
  }

  #photos {
    max-width: 100%;
    margin: 4rem 8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 15rem;
      height: 15rem;
      object-fit: cover;
      margin: 1rem;
      border-radius: 1.5rem;
    }
    img:hover {
      cursor: pointer;
      border: white solid 0.2rem;
    }
    @media (max-width: 685px) {
      margin: 4rem 1rem;
    }
  }

  #filter {
    display: flex;
    justify-self: flex-end;
    margin-top: auto;
    margin-bottom: 4rem;
    button {
      margin: 0.5rem;
      height: 3rem;
      width: 3rem;
      border: darkmagenta solid 1px;
      color: white;
      background: rgb(0, 0, 43);
      text-align: center;
      justify-content: center;
    }
    button:hover {
      cursor: pointer;
      background: rgb(0, 20, 83);
      border-color: white;
    }
    @media (max-width: 570px) {
      flex-wrap: wrap;
    }
  }
}

footer {
  margin-top: auto;
  height: 10rem;
  background-color: rgb(0, 7, 83);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_dialog {
  width: 60dvw;
  height: 60dvh;
  background-color: rgb(9, 36, 51);
  border-radius: 4rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 6;
  #dialog_head {
    margin: 2.5rem;
    display: flex;
    justify-content: space-between;
    h2 {
      font-size: 2.8rem;
      color: white;
      font-weight: lighter;
    }
    button {
      border: none;
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
      background: none;
      color: white;
      text-align: center;
      font-size: 2rem;
    }
    button:hover {
      cursor: pointer;
      border-radius: 50%;
      border: solid 0.1rem white;
    }
  }
  #dialog_body {
    margin: 2rem;
    display: flex;
    justify-content: center;
    img {
      width: 30dvw;
      height: 40dvh;
    }
  }
  #dialog_footer {
    display: flex;
    margin-top: auto;
    margin-bottom: 4rem;
    justify-content: space-around;
    span {
      font-size: 1.8rem;
      color: white;
    }
    button {
      width: 4rem;
      height: 4rem;
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      padding-bottom: 0.5rem;
      color: rgb(180, 90, 25);
      border: none;
      border-radius: 50%;
      background-color: rgba(18, 10, 0, 0.75);
    }
    button:hover {
      cursor: pointer;
      border: solid 0.1rem white;
    }
  }
}

.d_none {
  display: none;
}
